body{
    background-image: url("assets/ResizedNatureSceneryPhoto.png");
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}





h1{
    color: rgb(254, 205, 82);
    text-align: center;
    font-weight: 900;
}

    h2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: 400;
    }
